* {
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}

#landing-page {
	height:50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#6DCCDE;
	color: #fff;
}

#icon {
	height: 45px;
	width: 45px;
}
